@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  width: 100%;
  height: 100vh;
  background: url("/src/Images/Showcase.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

/* Helpers */
.container {
  width: 1200px;
  margin: 0 auto;
}

.bgMain {
  background: #1f2235;
}

.h-650 {
  height: 650px;
}

.alignCenter {
  align-items: center;
}

.justifyConter {
  justify-content: center;
}

/* Grid System */
.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.col-6 {
  width: 50%;
}

.col-4 {
  width: 33.33333333333333%;
}

/* header */
.header__content {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: #03081db0;
}

.header__ul {
  list-style-type: none;
  display: flex;
  margin-bottom: 20px;
}

.header__ul li {
  width: 50px;
  height: 50px;
  border: 2px solid #06245e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  transition: all 0.5s linear;
  cursor: pointer;
}

.header__ul li:hover {
  background: rgb(163, 202, 238);
  border: 2px solid transparent;
}

.header__ul li:hover .headerIcon {
  color: #072a52;
}

.header__ul li:first-child {
  margin-left: 0;
}

.header__section h1 {
  font-size: 57px;
  font-weight: 700;
  margin-bottom: 20px;
}

.header__section p {
  font-size: 26px;
  font-weight: 300;
  line-height: 40px;
  margin-bottom: 50px;
}

.btn {
  outline: none;
  border: none;
  color: rgb(10, 1, 1);
  text-decoration: none;
}

.btn-outline {
  border: 2px solid #073c68;
  border-radius: 50px;
  padding: 13px 40px;
}

.btn-outline:hover {
  background-color: rgb(124, 195, 241);;
}

.btn-smart {
  background: #ca4049;
  padding: 13px 40px;
  border-radius: 50px;
}

.banner__img {
  padding: 0 30px;
  margin-top: 150px;
}